// css normalize

@import-normalize;

// scss variables

$background-color: #fff;
$accent-color: #004df9;
$main-width: 600px;

// global styles and classes

body {
 background-color: $background-color;
 font-family: 'Work Sans', sans-serif;
 -moz-osx-font-smoothing: grayscale;
 -webkit-font-smoothing: antialiased;
 margin: auto;
 max-width: $main-width;
 padding: 0 1rem;
}

a {
 color: $accent-color;
 &:hover {
  background-color: $accent-color;
  color: white;
 }
}

.bottom-border {
 border-bottom: 1px solid black;
}

// header styles

header {
 align-items: center;
 background-color: $background-color;
 display: flex;
 height: 80px;
 left: 1rem;
 margin: auto;
 max-width: $main-width;
 position: fixed;
 right: 1rem;
 top: 0;
 h1 {
  flex-grow: 1;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  padding-left: 20px;
  color: $accent-color;
 }
 .desktop-heading {
  display: none;
 }
 @media (min-width: 600px) {
  .mobile-heading {
   display: none;
  }
  .desktop-heading {
   display: block;
  }
 }
}

.star {
 -moz-animation: spin 4s linear infinite;
 -webkit-animation: spin 4s linear infinite;
 animation: spin 4s linear infinite;
 position: absolute;
 color: $accent-color;
}
@keyframes spin {
 100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
 }
}
@-moz-keyframes spin {
 100% {
  -moz-transform: rotate(360deg);
 }
}
@-webkit-keyframes spin {
 100% {
  -webkit-transform: rotate(360deg);
 }
}

// about styles

.hero-container {
 align-items: left;
 display: flex;
 flex-direction: column;
 justify-content: center;
 height: 500px;
 margin-top: 80px;
 p {
  margin: 0.5rem 0;
 }
 .hero-text {
  font-size: 2rem;
 }
 .about-arrow {
  color: $accent-color;
 }
}

// project styles

section {
 h2 {
  font-size: 1rem;
  font-weight: normal;
  margin: 2rem 0;
 }
}

.project {
 margin-bottom: 2rem;
 img {
  max-width: 100%;
 }
 h3 {
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 0 0 0;
 }
 .project-tech {
  font-size: 0.8rem;
  font-family: 'IBM Plex Mono', monospace;
 }
 .project-desc {
  margin: 1rem 0;
 }
 .project-links {
  font-size: 0.8rem;
  font-family: 'IBM Plex Mono', monospace;
  line-height: 1.5rem;
  .project-arrow {
   font-family: 'Work Sans', sans-serif;
   color: $accent-color;
  }
 }
}

// footer styles

footer {
 align-items: center;
 display: flex;
 height: 80px;
 justify-content: center;
}
